<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <main class="templete flex">
    <div class="navbar flex">
      <div class="logo-part flex">
        <h1>DOG CLUB</h1>
      </div>
      <div class="nav-options flex">
        <div class="navContent flex">
            <div class="home boxx flex">HOME</div>
            <div class="about boxx flex">ABOUT</div>
            <div class="history boxx flex">HISTORY</div>
            <div class="gallery boxx flex">GALLERY</div>
            <div class="contacts boxx flex">CONTACTS</div>
        </div>
      </div>
    </div>
    

    <div class="main-content-div flex">
        <div class="top-content flex">
            <div class="right-part flex">
                <h1>Do you<br>love your dog?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation , consectetur adipiscing elit</p>
                <button class="read-more-button">READ MORE</button>
            </div>
            <div class="left-part flex">
                <div class="left-content-img flex">
                    <button class="arrow prev-arrow">&#9664;</button>
                    <img src="beach-black-and-white-dog-girl-Favim.com-879571.jpg" alt="A woman smiling with her dog in a field." />
                    <button class="arrow next-arrow">&#9654;</button>
                </div>
            </div>
        </div>
        <div class="bottom-content flex"></div>
    </div>
  </main>
</body>
</html>
