
*{
  padding: 0;
  margin: 0;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
    height: 48.3em;
    width: 90em;
}
.templete {
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.navbar {
    height: 12%;
    background-color: #262626;
    width: 100%;
    border-bottom: 0.5em solid white;
}
.logo-part{
  height: 100%;
  width: 30%;
  color: white;
}
.nav-options {
    height: 100%;
    width: 70%;
    justify-content: end;
}
.navContent {
    justify-content: space-evenly;
    height: 100%;
    width: 65%;
    color: white;
}
.main-content-div {
    height: 88%;
    width: 100%;
    background-color: aqua;
    flex-direction: column;
}
.top-content, .bottom-content{
    height: 50%;
    width: 100%;
    
}
.top-content{
    background-color: #ec5504;
    color: white;
}
.right-part, .left-part{
    height: 100%;
    width: 50%;
}
.right-part {
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
}
.right-part h1 {
    font-size: xxx-large;
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
}

.right-part p {
    font-family: "Sansation", sans-serif;
    font-size: small;
    line-height: 1.5;
    margin-top: 10px;
    width: 70%;
}
.read-more-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.left-content-img {
    position: relative;
    border: 0.7em solid #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 44%);
    height: 80%;
    width: 56%;
    margin-top: -8px;
}

.left-part img {
    display: block;
    max-width: 100%;
    height: auto;
}
.left-part.flex {
    align-items: baseline;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5em;
}

.prev-arrow {
    left: 0px;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    
}
.next-arrow {
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    right: 0px;
}

